RADAR_RESTAPI_DATABASE_URI=postgresql://radar:{{ "{{ postgres_user_radar_password }}" }}@{{ cookiecutter.__project_slug }}-db/restapi
RADAR_MLFLOW_TRACKING_DATABASE_URI=postgresql://radar:{{ "{{ postgres_user_radar_password }}" }}@{{ cookiecutter.__project_slug }}-db/mlflow-tracking
RADAR_WORKER_USERNAME=radar-worker
RADAR_WORKER_PASSWORD={{ "{{ radar_worker_password }}" }}
MINIO_ROOT_USER=radar-admin
MINIO_ROOT_PASSWORD={{ "{{ minio_root_password }}" }}
MINIO_KMS_SECRET_KEY={{ cookiecutter.__project_slug }}-minio-key:{{ "{{ minio_kms_secret_key }}" }}
MLFLOW_TRACKING_AWS_ACCESS_KEY_ID=radar-mlflow-tracking
MLFLOW_TRACKING_AWS_SECRET_ACCESS_KEY={{ "{{ minio_mlflow_tracking_password }}" }}
PGADMIN_DEFAULT_PASSWORD={{ "{{ pgadmin_default_password }}" }}
POSTGRES_USER_RADAR_PASSWORD={{ "{{ postgres_user_radar_password }}" }}
RESTAPI_AWS_ACCESS_KEY_ID=radar-restapi
RESTAPI_AWS_SECRET_ACCESS_KEY={{ "{{ minio_restapi_password }}" }}
WORKER_AWS_ACCESS_KEY_ID=radar-worker
WORKER_AWS_SECRET_ACCESS_KEY={{ "{{ minio_worker_password }}" }}
{{ "{{ '' }}" }}
